# Ignore deep-learning data-sets!
train/
test/
valid/
data.yaml
*.zip

# Ignore YOLO training runs and model-weights!
runs/
yolov8n.pt
yolov8s.pt

# Ignore Python caches and virtual-environments!
__pycache__/
*.pyc
.env/
venv/
